* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
/* .coloring {
  background: transparent linear-gradient(to right bottom, #3f51b5, #ff4081);
  opacity: 0.6;
} */
.coloring {
  background: transparent;
}
